[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
fuzz_max_local_rejects = 1000000000
optimizer = true
optimizer_runs = 200
auto_detect_solc = true
fuzz = { runs = 50, max_test_rejects = 100_000_000}
no_match_path = "**/{script/,test/fork/}*"
remappings = ["@uniswap/v3-core/contracts/=lib/v3-core/contracts/","@uniswap/v3-periphery/contracts/=lib/v3-periphery/contracts/","@openzeppelin/=lib/openzeppelin-contracts/", "contracts/=lib/slipstream/contracts", "@uniswap/v2-core/contracts=./test/utils/fixtures/swap-router-02", "solmate/=lib/solmate/"]

fs_permissions = [{ access = "read", path = "./out"}, { access = "write", path = "./script/out"}]
evm_version = 'cancun'

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
number_underscore = "thousands"
quote_style = "double"
tab_width = 4

[profile.dev]
fuzz = { runs = 50, max_test_rejects = 100_000_000}

[profile.gh]
fuzz = { runs = 200, max_test_rejects = 100_000_000}

[profile.hf]
fuzz = { runs = 2_000, max_test_rejects = 1_000_000_000}

# See more config options https://github.com/gakonst/foundry/tree/master/config
