[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
fuzz_max_local_rejects = 1000000000
optimizer = true
optimizer_runs = 200
auto_detect_solc = true
fuzz = { runs = 50, max_test_rejects = 100_000_000}
no_match_path = ""
remappings = ["@uniswap/v3-core/contracts/=lib/v3-core/contracts/", "@openzeppelin/=lib/openzeppelin-contracts/"]
fs_permissions = [{ access = "read", path = "./out"}]
evm_version = 'shanghai'

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
number_underscore = "thousands"
quote_style = "double"
tab_width = 4

[profile.dev]
fuzz = { runs = 50, max_test_rejects = 100_000_000}

[profile.gh]
fuzz = { runs = 200, max_test_rejects = 100_000_000}

[profile.hf]
fuzz = { runs = 2_000, max_test_rejects = 1_000_000_000}

# See more config options https://github.com/gakonst/foundry/tree/master/config